<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
<!--    ngFor creates a app-recipe-item component for every item in the recipe array from recipe-list.component-->
<!--    recipeSelected is an output variable from recipe-item.component sending which recipe was clicked-->
<!--    [recipe] is an input variable for recipe-list that receives all the recipes from recipe-list.component -->
<!--    onRecipeSelected emits a new event and sends it to recipe.component-->
    <app-recipe-item
      *ngFor="let curRecipe of recipes"
      [recipe]=curRecipe
    ></app-recipe-item>
  </div>
</div>

